[Unit]
Description="Checks the KMHD website for the broadcast schedule and runs the `systemd-run` command to schedule the recorder"

[Service]
ExecStart=src/radio_vcr/schedule_shows.sh
